// variables
@import './variables/fonts';
@import './variables/colours';

// mixins
@import './mixins/fonts';

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height:100%;
    width:100%;
}

.category-title {
  @include category-page-title;
}

header {
    height:500px;
    background-color:$yellow;
    /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);*/
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.container {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding-top:60px;
}
.column {
    width: 50%;
    float:left;
    height:auto;
}
.navigation {
    width:100%;
    margin-top:100px;
    text-align:center;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    padding:10px 0px 10px 0px;

    a {
        text-decoration:none;
        color:#fff;
        padding-left:5px;
        padding-right:5px;
        font-size:24px;
    }
}

.logo {
  img {
      width:60px;
      height:60px;
  }
}

.right_nav {
    margin-top:20px;
    float:right;

    a {
        text-decoration:none;
        color:#fff;
    }
}

.trending {
    position: relative;
    top:-220px;
    color:#fff;

    h1 {
        font-size:36px;
    }
}

.clear {
    clear:both;
}
