$helvetica: 'Helvetica Neue', serif;
$playfair: 'Playfair Display';
$merriwether: 'Merriweather', serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$font-size-small: 20px;
$font-size-regular: 24px;
$font-size-large: 30px;
$font-size-x-large: 50px;
$font-size-xx-large: 72px;
